table {
    width: 100%;
    border:1px solid #cccccc;
} 

.ngx-datatable.material{
    border: 1px solid #cccccc;
}
.mat-form-field{
    width: 100%;
    padding: 0px 10px;
}
.pl10{
    margin-right: 10px;
}