@import "src/@fuse/scss/fuse";
.users_container{
    height: auto;
    width: 100%;
    margin: 2% 5%;
    // background-color: whitesmoke;
    // border: 1px solid #cccccc;
    // border-radius: 5px;
    
    // inherit from client 
    .heading{
        margin-bottom: 16px;
    }
    .title{
        line-height: 0px;
        font-weight: bolder;
        color:#666;
    }
    .view_btn span{
        font-size: 16px;
    }
    .view_card{
        width: 240px;
        height: 230px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom: 10px;
        .picture{
            border-radius: 50%;
            border: 1px solid #cccccc;
            width: 60px;
            height: 60px;
            // margin-top: 10px;
        }
    }
    .text_area button{
        line-height: 0px !important;
        padding: 4px;
        border-radius: 3px;
        font-size: 12px;
        margin-top: 5px;
    }
 
    .add_button{
        border-radius: 25px;
        // background-color: green;
    }
    .add_button span{
        margin-left: 5px;
    }

    // inheried css end

    .table_container{
        .mat-table {
            width: 10vw;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background: transparent;
            box-shadow: none;
            
            .mat-column-avatar {
                flex: 0 1 80px;
            }
            .mat-column-email{
                flex: 1 1 63px;
            }
            .mat-column-details {
                flex: 0 0 50px;
            }
            .mat-column-status{
                flex: 0 0 50px;
            }
           
            .mat-header-row {
                .mat-header-cell {
                    margin-right: 10px;
                }
            }
            .mat-row {
                position: relative;
                cursor: pointer;
                // padding: 8px;
    
                .mat-cell {
                    min-width: 0;
                    margin-right :10px;
                    // max-width: 190px;
                    &.mat-column-detail-button {
                        flex: 0 1 auto;
                        padding: 0 24px 0 0;
    
                        // @include media-breakpoint('gt-md') {
                        //     display: none;
                        // }
                    }
                }
            }
        }
    }
}